<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Llamadas</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="/mainController.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<style>
    p.capitalize { text-transform: capitalize; }
    body         { padding-top:80px; }
</style>
<body ng-controller="PrimerController">

<div class="container" >
    Escoja Proyecto
        <div  ng-repeat="proyect in Proyects">
    <button ng-click="cambiarProyect(proyect.id)"> {{proyect.nombre}}</button>
        </div>
</div>

<div class="container">
    <p class = "capitalize">Nombre: {{users[0].nombre}} {{users[0].apellido}}</p>
    <p>Numero: {{users[0].numero}}</p>
    <p>Estado: {{users[0].estado}}</p>
    <a href="skype:{{users[0].numero}}?call" class="btn btn-success btn-lg">Llamar</a>
    <button ng-click="estadoSi(users[0].id)" class="btn btn-info btn-lg">
        Encuesta Completada
    </button>
</div>
<div class="container">
        <div>
            <form name="form">
                <input type="text" ng-model="formData.text">
            </form>
        </div>
        <button ng-click="estadoDist(users[0].id)">
            Ingresar Estado manual
        </button>
    <hr>
    <form  action="/" method="GET">
        <button type="submit" class="btn btn-info">Volver</button>
    </form>


</div>
</body>
</html>