<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Llamadas</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="/mainController.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<style>
    p.capitalize { text-transform: capitalize; }
    body         { padding-top:80px; }
</style>
<body ng-controller="PrimerController" ng-init="init(<%=UserId%>)">


<div class="container">

    <p class = "capitalize">Nombre: {{datos[0].nombre}} {{datos[0].apellido}}</p>
    <p>Numero: {{datos[0].numero}}</p>
    <p>Estado: {{datos[0].estado}}</p>
    <p><a href="{{URL}}" target="_blank">Abrir Encuesta</a></p>
    <a href="skype:{{datos[0].numero}}?call" class="btn btn-success btn-lg">Llamar</a>
    <button ng-click="estadoSi(datos[0].id)" class="btn btn-info btn-lg">
        Encuesta Completada
    </button>
</div>
<div class="container">
        <div>
            <form name="form">
                <input type="text" ng-model="formData.text">
            </form>
        </div>
        <button ng-click="estadoDist(datos[0].id)">
            Ingresar Estado manual
        </button>
    <hr>
    <form  action="/" method="GET">
        <button type="submit" class="btn btn-info">Volver</button>
    </form>


</div>
</body>
</html>