<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cargar datos</title>
</head>
<body>
<form action="/api/CargarArchivo" method="POST" enctype="multipart/form-data">
    <fieldset>

            <label>Seleccione el archivo con los datos a cargar</label>
        <div>
            <input type="hidden" value="<%=id%>" name="id">
            <input type="file" name="archivo">
        </div>
        <button type="submit" class="btn btn-info" >Cargar</button>
    </fieldset>
</form>

<a href="/Proyecto" class="btn btn-primary">Atrás</a>
</body>
</html>