<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Usuario</title>
</head>
<body>
<fieldset>
<form action="/api/usuarios" method="POST">

            <div>
                <label>Username</label>
            </div>
                <input type="text" required name = "username" placeholder="Nombre Usuario">
            <div>
                <label>Password</label>
            </div>
            <input type="password" required name = "password" placeholder="password">
            <div>
                <label>email</label>
            </div>
            <input type="text" required name = "email" placeholder="email">
            <div>
            <label>Seleccione permisos</label>
            </div>
            <div>
                <select id="permiso" name="permiso">
                    <option value="ADMIN" >ADMIN</option>
                    <option value="ENCUESTADOR">ENCUESTADOR</option>
                </select>
            </div>

        <div>
            <button type="submit" >Crear Usuario</button>
        </div>


</form>
<form action="/" method="GET">
    <button type="submit">Cancelar</button>
</form>
</fieldset>
</body>
</html>