<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crear Proyecto</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div id="todo-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <form action="/api/Proyect" method="POST">
            <fieldset>
                <input type="text" required name = "nombre" placeholder="Nombre Proyecto" class="form-control input-lg text-center">
                <input type="password"  name = "Encuesta" placeholder="Encuesta(no disponible)" class="form-control input-lg text-center">
                <div>
                    <button type="submit" class="btn btn-success btn-lg" >Submit</button>
                </div>
            </fieldset>
        </form>
        <hr>
        <form action="/" method="GET">
            <button type="submit" class="btn btn-primary">Cancelar</button>
        </form>
    </div>
</div>
</body>
</html>
