<!DOCTYPE html>
<html lang="en" ng-app="profileProyApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Profile</title>

    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="/profileProyectController.js"></script>

</head>
<body ng-controller="profileProyController" ng-init="init(<%=proyect%>)">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Inicio</a>
        </div>
    </div>
</nav>
<div class="container">
    <p>Nombre: {{proyectInf[0].nombre}}</p>
    <p>Encuesta: nombre, ver</p>
    <h2>Usuarios Asignados</h2>
    <table class="table">
        <thead>
        <tr>
            <th> Nombre </th>
            <th> Encuestas realizadas</th>
            <th> Sacar </th>
        </tr>
        </thead>
        <tbody ng-repeat="user in UsersAsignados">
        <tr>
            <td>{{user.nombre}}</td>
            <td> No disponible</td>
            <td>
                <button ng-click="delete(user.id)" class="btn btn-danger btn-xs">
                    Eliminar Asignacion
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <label>Asignar usuarios</label>
    <select ng-model="formData.userId">
        <option ng-repeat="user in UsersNoAsignados" value="{{user.id}}">{{user.username}}</option>
    </select>
    <input ng-click="Asignar(proyect)" type="submit" value="asignar" class="btn btn-warning btn-xs">
    <form action="/Proyecto" method="GET">
        <button type="submit" class="btn btn-primary">Volver</button>
    </form>
</div>
</body>
</html>