<!DOCTYPE html>
<html lang="en" ng-app="profileApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Profile</title>

    <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="/profileController.js"></script>

</head>
<body ng-controller="profileController" ng-init="init(<%=user%>)">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Inicio</a>
        </div>
    </div>
</nav>
<div class="container">
    <p>Nombre: {{userInf[0].username}}</p>
    <p>Correo: {{userInf[0].email}}</p>
    <p>Password: {{userInf[0].password}}</p>
    <p>Permiso: {{userInf[0].permiso}} </p>
    <h2>Proyectos Asignados</h2>
    <table class="table">
        <thead>
        <tr>
            <th> Proyecto </th>
            <th> Encuestas realizadas</th>
            <th> Sacar </th>
        </tr>
        </thead>
        <tbody ng-repeat="proyect in ProyectosAsignados">
        <tr>
            <td>{{proyect.nombre}}</td>
            <td> No disponible</td>
            <td>
                <button ng-click="delete(proyect.id)" class="btn btn-danger btn-xs">
                    Eliminar Asignacion
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <label>Asignar a proyecto</label>
    <select ng-model="formData.proyectId">
        <option ng-repeat="proyect in ProyectosNoAsignados" value="{{proyect.id}}">{{proyect.nombre}}</option>
    </select>
    <input ng-click="Asignar(user)" type="submit" value="asignar" class="btn btn-warning btn-xs">
    <form action="/usuarios" method="GET">
        <button type="submit" class="btn btn-primary">Volver</button>
    </form>
</div>
</body>
</html>