<!DOCTYPE html>
<html lang="en" ng-app="proyectApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Proyectos</title>

    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="/proyectController.js"></script>

</head>
<body ng-controller="ProyectController">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
      <a class="navbar-brand" href="/">Inicio</a>
    </div>
</nav>

<div class="container">
<h1>Lista de Proyectos</h1>

<table class="table">
    <thead>
    <tr>
        <th> ID </th>
        <th> Nombre </th>
    </tr>
    </thead>
    <tbody ng-repeat="proyect in Proyects">
    <tr>
        <td>{{proyect.id}}</td>
        <td>{{proyect.nombre}}</td>
        <td>
            <form action="/updateProyect" method="POST">
                <input type="hidden" value="{{proyect.id}}" name="id">
                <input type="submit" value="modificar" class="btn btn-warning btn-xs">
            </form>
            <form action="/api/baseDatos" method="POST">
                <input type="hidden" value="{{proyect.id}}" name="idProyect">
                <input type="submit" value="Ver datos" class="btn btn-info btn-xs">
            </form>
            <form action="/CargarArchivo" method="POST">
                <input type="hidden" value="{{proyect.id}}" name="idProyect">
                <input type="submit" value="Cargar Datos" class="btn btn-success btn-xs">
            </form>
            <button ng-click="delete(proyect.id)" class="btn btn-danger btn-xs">
                Eliminar
            </button>
            <form action="/Proyect" method="POST">
                <input type="hidden" value="{{proyect.id}}" name="id">
                <input type="submit" value="Ver" class="btn btn-warning btn-xs">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form action="/" method="GET">
    <button type="submit" class="btn btn-primary">Volver</button>
</form>
</div>
</body>
</html>