<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos guardados</title>
</head>
<body>

<h1>Datos de la tabla Encuestados</h1>

<table class="table">
    <thead>
    <tr>
        <th> Nombre </th>
        <th> Apellido </th>
        <th> Numero </th>
        <th> Estado </th>
    </tr>
    </thead>
    <% for (var i= 0;i<datos.length;i++){ %>
    <tbody>
    <tr>
        <td><%= datos[i].nombre%></td>
        <td><%= datos[i].apellido%></td>
        <td><%= datos[i].numero %></td>
        <td><%= datos[i].ProyectDatos.estado %></td>
    </tr>
    <% }%>
    </tbody>
</table>
<form action="/" method="GET">
    <button type="submit">Volver</button>
</form>

</body>
</html>