<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Usuarios</title>

    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<h1>Lista de usuarios</h1>

<table class="table">
    <thead>
    <tr>
        <th> ID </th>
        <th> Username </th>
        <th> Password </th>
        <th> Email </th>
        <th> Acciones </th>
    </tr>
    </thead>
    <% for (var i= 0;i<resultado.length;i++){ %>
    <tbody>
    <tr>
        <td><%= resultado[i].id%></td>
        <td><%= resultado[i].username%></td>
        <td><%= resultado[i].password %></td>
        <td><%= resultado[i].email %></td>
        <td>
            <form action="/modificar/<%=resultado[i].id%>" method="GET">
                <input type="submit" value="modificar">
            </form>
            <form action="/api/usuarios/<%=resultado[i].id%>" method="POST">
                <input type="hidden" value="DELETE" name="method">
                <input type="submit" value="eliminar">
            </form>
        </td>
    </tr>
    <% }%>
    </tbody>
</table>
<form action="/" method="GET">
    <button type="submit">Volver</button>
</form>
</body>
</html>